# Function dependencies, for example:
# package>=version
google-cloud-language==1.0.2
functions-framework
pandas== 1.5.2
google-cloud-storage
datetime
snowflake-connector-python
fsspec
gcsfs
google-cloud-secret-manager==2.0.0
pyarrow==15.0.0
filelock>=3.20.1 # not directly required, pinned by Snyk to avoid a vulnerability